[user]
	email = michael.nicosia@RACKSPACE.COM
	name = Michael Nicosia
[push]
	default = current
[core]
	editor = vim
	excludesfile = ~/mvnicosia/dotfiles/gitconfig/.gitignore_global
[gitreview]
	scheme = https
	port = 443
[url "https://"]
	insteadOf = git://
[init]
	templatedir = ~/mvnicosia/dotfiles/gitconfig/.git_template
[alias]
  # https://tbaggery.com/2011/08/08/effortless-ctags-with-git.html
  # brew install ctags
	ctags = !.git/hooks/ctags
