[user]
	email = michael.nicosia@RACKSPACE.COM
	name = Michael Nicosia
[push]
	default = current
[core]
	editor = vim
	excludesfile = ~/.vim/.gitignore_global
[gitreview]
	scheme = https
	port = 443
[url "https://"]
	insteadOf = git://
[init]
	templatedir = ~/.vim/.git_template
[alias]
	ctags = !.git/hooks/ctags
