[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/jedi-vim/jedi"]
	path = bundle/jedi-vim/jedi
	url = https://github.com/davidhalter/jedi.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
