[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/jedi-vim/jedi"]
	path = bundle/jedi-vim/jedi
	url = https://github.com/davidhalter/jedi.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
