[user]
	email = michael.nicosia@RACKSPACE.COM
	name = Michael Nicosia
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /home/vagrant/.gitignore_global
[gitreview]
	scheme = https
	port = 443
[url "https://"]
	insteadOf = git://
